.m-hidden {
  display: none;
}

.m-visible {
  display: block;
}

.m-size-1-1 {
  min-width: 100%;
  max-width: 100%;
}
.m-size-1-2 {
  min-width: 50%;
  max-width: 50%;
}
.m-size-1-3 {
  min-width: 33.33333%;
  max-width: 33.33333%;
}
.m-size-1-4 {
  min-width: 25%;
  max-width: 25%;
}
.m-size-1-5 {
  min-width: 20%;
  max-width: 20%;
}
.m-size-2-3 {
  min-width: 66.66666%;
  max-width: 66.66666%;
}
.m-size-2-5 {
  min-width: 40%;
  max-width: 40%;
}
.m-size-3-4 {
  min-width: 75%;
  max-width: 75%;
}
.m-size-3-5 {
  min-width: 60%;
  max-width: 60%;
}
.m-size-4-5 {
  min-width: 80%;
  max-width: 80%;
}
.m-size-stretch {
  flex-grow: 1;
}
