label {
  display: block;
  padding-top: $spacing;
  padding-bottom: $spacing;
  font-weight: $bold-weight;
}

input,
input:required,
textarea {
  display: block;
  color: $darkest-color;
  width: 100%;
  padding: $spacing;
  //@include inset-border-style($neutral-20)
  @include outline-border-style($neutral-40);

  &:focus {
    @include button-focus-outline();
  }
}

$standard-input-height: floor($body-font-size * 1.25) + $spacing * 2 + $border-width * 2;

input[type=color] {
  padding: round($spacing/ 4) round($spacing / 3);
  height: $standard-input-height;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=range] {
  height: $standard-input-height;
}

input[type=range] {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

textarea {
  resize: vertical;
  height: auto;
  line-height: 1.4;
}

.help-text {
  font-size: 1rem;
  color: $neutral-60;
}

.error {
  input,
  textarea {
    @include outline-border-style($danger);
    //@include inset-border-style($danger)
  }

  .help-text,
  label {
    color: $danger-text;
  }
}

input.error,
textarea.error {
  @include outline-border-style($danger);
  //@include inset-border-style($danger)
}

label.error,
.help-text.error {
  color: $danger-text;
}
